@model List<FootballApp.Models.Druzyna>

<h2>Teams</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var team in Model)
    {
        <tr>
            <td>@team.Id</td>
            <td>@team.Miasto</td>
            <td>@team.Nazwa</td>
        </tr>
    }
    </tbody>
</table>
